<div>
  <div class="style">
      <div class="container-fluid">
       <div class="row">
         <div class="col-sm-10" style="color:black ; padding-top: 8px"><b>BookStore</b></div>
         <div class="col-sm-1" style="color:black ; padding-top: 8px">
            <b class="click" (click)="singin()">SignIn</b>
          </div>
         <div class="col-sm-1" style="color:black ; padding-top: 8px" >
            <b class="click" (click)="signup()">SignUp</b>
          </div>
       </div> 
      </div>
      
  </div>
  <div style="margin:20px">
  
  <b style="margin:20px">This Project Covered  :</b>
    <p>Users will be able to browse products ,   </p>
    <p>add them to cart and purchase, </p>
    <p> user registration and login, </p> 
    <p>user authentication, session management with timeout of 5 min.</p>
  
  </div>
  </div>

 
  